<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/common.css">
</head>
<body>
    <img class="logo" src="https://die-zoellner.de/wp-content/uploads/2019/04/spotify-logo-white-rgb-300x91.png" alt="">
    <div class="form-box">
        <h1 class="h1">Login Register</h1>
        <a href="/login">Login</a>
        <a class="register" href="/register">Register</a>
    </div>
</body>
</html>
